/* HTML Reset
----------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* remove scroll-bar shift */
html { 
	overflow-y: scroll;
}

.clear, .clearfloat {
	clear: both;
	display: block;
	font-size: 1px;
    height: 0px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}
	
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}



/* Main stuff
----------------------------------------------------------------------------------------*/

html, body {
	height: 100%;
}
#wrapper {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	position: relative;
}



/* Fonts
-------------------------------------------------------------- */

/* 	font-family: 'Open Sans', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Lustria', serif;
	
	Open+Sans:400,600,400italic,600italic,700,700italic
	
	
*/
	





/* Text elements 
----------------------------------------------------------------------------------------*/
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 0.875em; /* 14px */
	color: #1b5160;
}
p {
	margin-bottom: 1.6em;
}

hgroup p {
	font-size: 0.92857143em; /* 13px */
	width: 74%; /* 218px */
	line-height: 1.5em;
}

ul, ol {

}
ul {
	
}
ol {
	
}



/* Links 
----------------------------------------------------------------------------------------*/
a {
	color: #1b5160;
	text-decoration: none;
}

a:focus,
a:active,
a:hover {

}

/* Headings 
----------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, .sidebar.right a, .sidebar.left > a,
h1 a, h2 a, h3 a, h5 a, h6 a {
	font-weight: normal;
}

h1 {

}
h2 {
	font-family: 'Lustria', Georgia, Times, serif;
	font-size: 3.57142857em; /* 50px */
	margin-bottom: 18px;
	line-height: 1.1em;
}
h3 {
	font-weight: 600;
	font-size: 1.35714286em; /* 19px */
	line-height: 2em;
}

h4 {
	font-family: 'Lustria', Georgia, Times, serif;
	font-size: 1.42857143em; /* 20px */
}
h5 {
	font-size: 116.66666666%;
	font-weight: 700;
	text-transform: uppercase; /* 14px */
	margin: 6.5% 0;
	letter-spacing: 0.1em;
}
h6 {

}


/* Naviagtion
-------------------------------------------------------------- */
header nav {
	margin: 0 auto;
	padding-top: 39px;
	font-weight: 600; 
}
header nav li {
	display: inline-block;
	margin: 0 36px 0 0;
}
header nav li:last-of-type {
	margin: 0;
}
header nav a {
	padding: 0 1px 3px;
}
header nav a:hover {
	border-bottom: 2px solid #1b5160;
}


.social_links {
	position: fixed;
	top: 256px;
	z-index: 20;
	width: 42px;
	background-color: #fff;
	border-right: #a0bec5 solid 1px;
	border-bottom: #a0bec5 solid 1px;
}
.social_links a {
	width: 42px;
	height: 42px;
	display: block;
	border-top: #a0bec5 solid 1px;
}
.social_links a.rss {
	background: url(images/rss_icon.jpg) no-repeat top left;
}
.social_links a.facebook {
	background: url(images/facebook_icon.jpg) no-repeat top left;
}
.social_links a.twitter {
	background: url(images/twitter_icon.jpg) no-repeat top left;
}
.social_links a.linkedin {
	background: url(images/linkedin_icon.jpg) no-repeat top left;
}
.social_links a.googleplus {
	background: url(images/googleplus_icon.jpg) no-repeat top left;
}
.social_links a:hover {
	background-position: top right;
}



/* Images 
----------------------------------------------------------------------------------------*/




/* All pages Styles
----------------------------------------------------------------------------------------*/

section, header, footer {
	width: 75%; /* 936px */
 	margin: 0 auto;
}
section {
	padding: 132px 0;
}
footer {
	padding: 132px 0 36px;
}
.left_column { /* 296px */
	width: 30.623932%;
	float: left;
	position: relative;
	z-index: 30;
}
.single_column { /* split to two if supported */
	-webkit-columns: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 2.5em;
	-moz-column-gap: 2.5em;
	column-gap: 2.5em;
	float: left;
	font-size: 1.14285714em; /* 16px */
}
.right_column { /* 618px */
	width: 63.811967%;
	float: right;
}
.left_column ul {
	margin-top: 50px;
}
.left_column a {
	display: block;
	 width: 65%;
	 min-width: 230px;
}
.btn_icon {
	width: 18px;
	height: 18px;
	display: block;
	margin: 9px 8px 0 0;
	float: left;
	clear: both;
}





/* Header Styles
----------------------------------------------------------------------------------------*/

#header_wrap {
	width: 100%;
	height: 78px;
	background-color: #fff;
	position: fixed;
	z-index: 50;
}
header {
	height: 78px;
}
header h1 {
	margin-top: 24px;
	float: left;
	height: 54px;
}
header h1 span {
	margin-left: -9999%;
	font-size: 1px;
	float: left;
}
header img {
	width: 132px;
}


/* Home page Styles
----------------------------------------------------------------------------------------*/

#home_wrap {
	width: 100%;
	background-color: #1b5160;
	padding-top: 78px;
}
section#home {
	padding: 36px 0;
	position: relative;
}
.home_graphic {
	width: 550px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}
.home_graphic img.infographic, .home_graphic img.infographic_all {
	width: 100%;
}
.home_graphic img.infographic_all {
	display: none;
}
.infographic_block {
	position: absolute;
	width: 25.454545%; /* 140px */
	font-size: 85.714286%; /* 12px */
	font-weight: 600;
	line-height: 1.4em;
	letter-spacing: 0.1em;
}
.infographic_block.consulting {
	top: 11.8%;
	left: 37.272727%;
}
.infographic_block.implementation {
	left: 65.4%;
    top: 40.2%;
}
.infographic_block.execution {
	top: 66.5%;
	left: 37.272727%;
}
.infographic_block.analytics {
	top: 40.2%;
	left: 8.5%;
}
.infographic_block.socialarc {
	top: 47.8%;
	left: 37.272727%;
}
.infographic_block.socialarc img {
	width: 80px;
}


.quote_wrap {
	width: 100%;
	background-color: #fff;
}
section.block_quote {
	width: 48%; /* 600px */
	padding: 68px 0;
}

.home_quote {
	font-size: 1.28571429em; /* 18px */
	position: absolute;
	width: 20%;
}
.consulting_quote {
	color: #e9e77a;
	left: 18%;
	top: 72px;
	text-align: right;
}
.implementation_quote {
	color: #87bf7b;
	right: 18%;
	top: 72px;
}
.execution_quote {
	color: #db6f5d;
	right: 18%;
	bottom: 72px;
}
.analytics_quote {
	color: #a0bec5;
	left: 18%;
	bottom: 72px;
	text-align: right;
}




/* Solutions page Styles
----------------------------------------------------------------------------------------*/

#solutions_wrap {
	width: 100%;
	background-color: #16424f;
}
section#solutions {
	color: #fff;
}
#solutions h2, #solutions h3 {
	color: #F6AB45;
}
.solutions_txt_wrap {
	float: left;
}
section#solutions .right_column img {
	width: 100%;
	max-width: 100%;
	margin-bottom: 24px;
}
.rounded_arrow {
	margin: 0 auto;
	width: 60px;
	height: 34px;
	overflow: hidden;
	position: relative;
}
.rounded_arrow img {
	position: absolute;
	top: 0;
	left: 0;
}
#solutions a:hover h3, #solutions a.selected h3 {
	color: #fff;
}
#solutions a {
	border-bottom: 1px solid #16424F;
}
#solutions a:hover, #solutions a.selected {
	border-bottom: 1px solid #fff;
}
.consulting_icon {
	background: url(images/icon_consulting_btn.png) no-repeat top left;
}
.implementation_icon {
	background: url(images/icon_implementation_btn.png) no-repeat top left;
}
.execution_icon {
	background: url(images/icon_execution_btn.png) no-repeat top left;
}
.analytics_icon {
	background: url(images/icon_analytics_btn.png) no-repeat top left;
}




/* Clients page Styles
----------------------------------------------------------------------------------------*/

#clients_wrap {
	width: 100%;
	background-color: #fff;
	min-height: 550px;
}
section#clients .right_column {	
	text-align: center;
}
.client_logo {
	display: inline-block;
	padding: 0 5% 70px;
}



/* About page Styles
----------------------------------------------------------------------------------------*/

#about_wrap {
	width: 100%;
	background-color: #f0f1f2;
	min-height: 750px;
}
section#about {
}
section#about .right_column {
	overflow: hidden;
	margin-bottom: -16px;
}
#about h3, #about hgroup p {
	color: #DB6F5D;
}
#about a {
	border-bottom: 1px solid #F0F1F2;
}
#about a:hover, #about a.stay {
	border-bottom: 1px solid #A0BEC5;
}
#about a:hover h3, #about a.stay h3 {
	color: #A0BEC5;
}
.history_icon {
	background: url(images/icon_history_btn.png) no-repeat top left;
}
.together_icon {
	background: url(images/icon_together_btn.png) no-repeat top left;
}
.leadership_icon {
	background: url(images/icon_leadership_btn.png) no-repeat top left;
}

.leaders_thumbs {
	clear: both;
}
.leader_btn {
	float: left;
	width: 47.89644%; /* 296px */
	font-weight: 600;
	margin: 10px 4.20712% 16px 0;
}
.leader_btn:nth-of-type(even) {
	margin-right: 0;
}
.leaders_expanded {
	position: relative;
	width: 2000%; /* up to 20 titles */
	margin-bottom: 30px;
}
.leader_box {
	width: 5%;
	float: left;
}
#about a.leader_pic {
	width: 80px;
	height: 80px;
	display: block;
	border-bottom: 6px solid #f0f1f2;
	position: relative;
	float: left;
	margin-right: 22px;
	background-color: #A0BEC5;
}
#about a.leader_pic:hover {
	border-bottom: 6px solid #DB6F5D;	
}
#about a.leader_pic:hover .expand_btn {
	display: block;	
}
.expand_btn {
	position: absolute;
	top: -8px;
	right: -8px;
	z-index: 20;
	width: 25px;
	height: 25px;
	background: url(images/expand_btn.png) no-repeat top left;
	display: none;
}
.leader_info {
	float: left;
}
.leader_name {
	font-size: 1.07142857em; /* 15px */
	margin-top: 12px;
}
.leader_title, .leader_email {
	font-size: 0.85714286em; /* 12px */
}
.leader_email {
	color: #DB6F5D;
	margin-top: 12px;
}


.large_pic {
	float: left;
	width: 47.89644%; /* 296px */
	margin-right: 4.20712%; /*26px*/
}
.large_pic img {
	max-width: 100%;
}
.leader_text {
	width: 47.89644%; /* 296px */
	float: left;
}
.leaders_expanded .leader_name h3 {
	margin-top: 32px;
	line-height: 1.3em;
}
.leaders_expanded .leader_title, .leaders_expanded .leader_email {
	font-size: 1em; /* 14px */
	color: #DB6F5D;
	font-weight: 600;
}
.leaders_expanded .leader_title {
	line-height: 0.8em;
}
.leaders_expanded .leader_email {
	margin: 16px 0;
	line-height: 4.2em;
}
.close_btn {
	float: right;
	width: 25px;
	height: 25px;
	background: url(images/close_btn.png) no-repeat top left;
	cursor: pointer;
	margin-top: 12px;
}




/* Footer Styles
----------------------------------------------------------------------------------------*/

#footer_wrap {
	width: 100%;
	min-height: 550px;
	background-color: #db6f5d;
}
footer {
	color: #fff;
}
.left_column.contact_form {
	clear: both;
	margin-right: 4.064102%;
}
.left_column.contact_info {
	margin-right: 4.064102%;
}
.left_column.twitter_feed {
	background-color: #fff;
	float: right;
	color: #A0BEC5;
}
.thankyou_message {
	margin-top: 30px;
	display: none;
}

.contact_main_info {
	color: #fff;
	font-weight: 600;
	text-align: center;
}
.contact_main_info a {
	display: inline;
	color: #fff;
}
.contact_main_info a:hover {
	color: #1b5160;
}
.footer_social_btns {
	margin-top: 100px;
	text-align: center;
}
.footer_social_btns a {
	 margin: 0 3.2%;
	 width: 16px;
	 height: 16px;
	 min-width: 16px;
	 display: inline-block;
}
.footer_social_btns .rss:hover, .footer_social_btns .facebook:hover,
.footer_social_btns .twitter:hover, .footer_social_btns .linkedin:hover,
.footer_social_btns .googleplus:hover {
	background-position: top right;
}
.footer_social_btns .rss {
	background: url(images/social_rss_white.png) no-repeat top left;
}
.footer_social_btns .facebook {
	background: url(images/social_facebook_white.png) no-repeat top left;
}
.footer_social_btns .twitter {
	background: url(images/social_twitter_white.png) no-repeat top left;
}
.footer_social_btns .linkedin {
	background: url(images/social_linkedin_white.png) no-repeat top left;
}
.footer_social_btns .googleplus {
	background: url(images/social_googleplus_white.png) no-repeat top left;
}

.left_column.twitter_feed a {
	color: #A0BEC5;
	display: inline;
}
.left_column.twitter_feed a:hover {
	color: #1B5160;
}
.twitter_bar {
	width: 92%;
	height: 18px;
	border-bottom: 1px solid #db6f5d;
	padding: 10px 4%;
	background: url(images/twitter_blue.png) no-repeat 4%;
	text-align: right;
}
.twitter_posts {
	border-left: 1px solid #db6f5d;
	border-right: 1px solid #db6f5d;
	margin: 0 6px;
}
.twitter_post {
	padding: 12px 0;
	margin: 0 14px;
	background: url(images/dashed_line.png) repeat-x bottom left;
}
.twitter_post:last-of-type {
	background: none;
}
.twitter_meta {
	margin-top: 16px;
}
.copyright {
	clear: both;
	width: 100%;
	text-align: center;
	padding-top: 150px;
	font-size: 0.85714286em; /* 12px */
}



/* Blog Styles
----------------------------------------------------------------------------------------*/



/* Forms 
----------------------------------------------------------------------------------------*/

input, textarea {
	background-color: #fff;
	border: none;
	width: 95%;
	color: #db6f5d;
	padding: 10px 2.5%;
}
input {
	margin: 0 0 14px;
}
textarea {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 0.9375em;
	resize: vertical;
	margin: 0;
}
.submit_btn {
	width: 100%;
	background-color: #db6f5d;
	color: #fff;
	text-align: center;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	margin: -4px 0 0 0;
}
.submit_btn:hover {
	background-color: #1b5160;
}



/* Media Queries
----------------------------------------------------------------------------------------*/

/* home page graphic quotes */
@media screen and (max-width: 1550px) {
	
	.home_quote {
		font-size: 1.14285714em; /* 16px */
		width: 24%;
	}
	.consulting_quote, .analytics_quote {
		left: 12%;
	}
	.implementation_quote, .execution_quote {
		right: 12%;
	}
	
}


/* leadership to one column */
@media screen and (max-width: 1336px) {
	
	.leader_btn {
		width: 100%;
		margin-right: 0;
	}
	.leader_text {
		width: 100%;
	}
	.leaders_expanded {
		margin-bottom: 0;
	}
	
}


/* top quote width */
@media screen and (max-width: 1280px) {
	
	/* Home section */
	section.block_quote {
		width: 75%;
		padding: 5% 0;
	}
	.home_quote {
		width: 29%;
	}
	.consulting_quote, .analytics_quote {
		left: 4%;
	}
	.implementation_quote, .execution_quote {
		right: 4%;
	}
	
	/* All sections */
	.single_column {
		font-size: 1em; /* 14px */
	}
	
}


/* smaller than tablet landscape */
@media screen and (max-width: 1020px) {
	
	/* All sections */
	section, footer, header {
		width: 90%;
	}
	.social_links {
		display: none;
	}
	
	/* Home section */
	section.block_quote {
		width: 90%;
	}
	.single_column {
		-webkit-columns: 1;
		-moz-column-count: 1;
		column-count: 1;
	}	
	
}

/* column shift */
@media screen and (max-width: 830px) {
	
	/* Home section */
	.home_quote {
		font-size: 1em; /* 14px */
	}
	.consulting_quote, .analytics_quote {
		left: 0;
	}
	.implementation_quote, .execution_quote {
		right: 0;
	}
	
	/* All pages */
	.left_column {
		width: 100%;
		margin-bottom: 50px;
	}
	.right_column {
		width: 100%;
	}
	/* stay the same */
	nav.right_column {
		width: 63.811967%;
	}
	footer .left_column {
		width: 30.623932%;
	}
	
}


/* top nav shift */
@media screen and (max-width: 728px) {
	/* Header */
	#header_wrap {
		position: relative;
	}
	header {
		width: 100%;
	}
	header h1 {
		margin-left: 5%;
	}
	header nav.right_column {
		padding-top: 0;
		float: left;
		clear: both;
		width: 100%;
		background-color: #fff;
		overflow: hidden;
		text-align: center;
	}
	header nav li {
		width: 33.33333333%;
		margin: 0;
		float: left;
		display: block
	}
	header nav li.wider {
		width: 50%;
	}
	header nav li a {
		width: 100%;
		padding: 7px 0;
		display: block;
		color: #1b5160;
		border-left: #a0bec5 solid 1px;
		border-top: #a0bec5 solid 1px;
	}
	header nav li a.solutions, header nav li a.about {
		border-left: none;
	}
	header nav a:hover {
		background-color: #f0f1f2;
		border-bottom: none;
	}
	/* All sections */
	section {
		padding: 80px 0;
	}
	
	/* Home section */
	#home_wrap {
		padding-top: 70px;
	}
	.home_graphic {
		max-width: 75%;
	}
	.home_graphic img.infographic, .infographic_block {
		display: none;
	}
	.home_graphic img.infographic_all {
		display: block;
	}
	h4 {
		font-size: 1.14285714em; /* 16px */
	}
	.home_quote {
		font-size: 0.92857143em; /* 13px */
	}
	.consulting_quote, .implementation_quote {
		top: 10%;
	}
	.analytics_quote, .execution_quote {
		bottom: 10%;
	}
	
	/* Footer */
	.twitter_feed {
		display: none;
	}
	footer .left_column {
		width: 100%;
	}
	footer {
		padding: 80px 0 36px;
	}
	footer .footer_social_btns {
		margin-top: 100px;
	}
	.copyright {
		padding-top: 0;
	}

}

/* small screens */
@media screen and (max-width: 550px) {
	
	/* Header */
	#header_wrap, header {
		height: 48px;
	}
	header h1 {
		margin-top: 5px;
		height: 43px;
	}
	header img {
		width: 100px;
	}
	
	/* Home section */
	section#home {
		padding: 25px 0;
	}
	.infographic_block span {
		display: none;
	}
	.home_quote {
		left: -500px;
	}
	
	/* Clients and leadership sections */
	.client_logo img {
		width: 70%;
	}
	.client_logo {
		padding: 0 5px 40px;
	}
	.large_pic {
		width: 100%;
		margin-right: 0;
	}
	.leader_email {
		font-size: 0.78571429em; /* 11px */
	}
}